<mat-grid-list cols="3">
    <mat-grid-tile>
        <img src="assets/anagrama.png" routerLink="anagrama" routerLinkActive="active">
    </mat-grid-tile>
    <mat-grid-tile routerLink="piedra-papel-tijera" routerLinkActive="active">
        <img src="assets/piedrapapeltijera.png" routerLink="piedra-papel-tijera" routerLinkActive="active">
    </mat-grid-tile>
    <mat-grid-tile routerLink="agilidad-aritmetica" routerLinkActive="active">
        <img src="assets/agilidadaritmetica.png" routerLink="agilidad-aritmetica" routerLinkActive="active">
    </mat-grid-tile>
    <mat-grid-tile routerLink="adivina-el-numero" routerLinkActive="active">
        <img src="assets/adivinanumero.png" routerLink="adivina-el-numero" routerLinkActive="active">
    </mat-grid-tile>
    <mat-grid-tile routerLink="ta-te-ti" routerLinkActive="active">
        <img src="assets/tateti.png" routerLink="ta-te-ti" routerLinkActive="active">
    </mat-grid-tile>
    <mat-grid-tile routerLink="memotest" routerLinkActive="active">
        <img src="assets/memotest.png" routerLink="memotest" routerLinkActive="active">
    </mat-grid-tile>
</mat-grid-list>