app-celda{
    height: 10vw;
    width:10vw;
}

mat-grid-list{
    width: 30vw;
    height: 30vw;
}

.grid{
    height: 30vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    display: flex;
    justify-content: center;
}