<br>
<table *ngIf="mostrarTabla" align="center">
    <tr>
        <td *ngFor="let item of fila1">
            <app-carta draggable="false"
             [flipped]="item.flipped"
             [canBeFlipped]="item.canBeFlipped"
             [srcFrente]="item.src"
             (click)="voltearCarta(item.id)">
            </app-carta>
        </td>
    </tr>
    <tr>
        <td *ngFor="let item of fila2">
            <app-carta draggable="false"
             [flipped]="item.flipped"
             [canBeFlipped]="item.canBeFlipped"
             [srcFrente]="item.src"
             (click)="voltearCarta(item.id)">
            </app-carta>
        </td>
    </tr>
    <tr>
        <td *ngFor="let item of fila3">
            <app-carta draggable="false"
             [flipped]="item.flipped"
             [canBeFlipped]="item.canBeFlipped"
             [srcFrente]="item.src"
             (click)="voltearCarta(item.id)">
            </app-carta>
        </td>
    </tr>
</table>

<div *ngIf="activado" style="padding-top: 15px; padding-bottom: 15px;">
    <h1>
        A ver como está esa <b>memoria</b>...
        <br>
        ¡Presiona el botón para empezar a jugar!
    </h1>
    <button mat-raised-button color="primary" (click)="mostrarCartas()">¡MOSTRAME LAS CARTAS!</button>
</div>

<div *ngIf="!activado" style="padding-top: 15px; padding-bottom: 15px;">
    <h1 *ngIf="!mostrarTiempo"><b>{{mensaje}}</b></h1>
    <div *ngIf="mostrarTiempo">
        <h1><b>Tiempo transcurrido:<br>{{display}}</b></h1>
        <h3>{{mensaje}}</h3>
        <strong><p>Intentos esta ronda: {{intentos}}</p></strong>
        <button mat-raised-button color="primary" *ngIf="pares==6" (click)="volverAJugar()">Volver a jugar</button>
    </div>
</div>