<br>
<h1><b>Mi perfil: {{usuario}}</b></h1>
<h3>Tus estadísticas:</h3>
<div align="center">
    <app-tiempos
     src="assets/anagrama.png"
     [jugadas]="jugadasANA"
     [mejorTiempo]="mejorTiempoANA"
     [mejoresPartidas]="mejoresPartidasANA">
    </app-tiempos>
    <br>
    <app-ratios 
     src="assets/piedrapapeltijera.png"
     [jugadas]="jugadasPPT"
     [victorias]="victoriasPPT"
     [empates]="empatesPPT"
     [derrotas]="derrotasPPT">
    </app-ratios>
    <br>
    <app-tiempos
     src="assets/agilidadaritmetica.png"
     [jugadas]="jugadasAGI"
     [mejorTiempo]="mejorTiempoAGI"
     [mejoresPartidas]="mejoresPartidasAGI">>
    </app-tiempos>
    <br>
    <app-tiempos
     src="assets/adivinanumero.png"
     [jugadas]="jugadasAEN"
     [mejorTiempo]="mejorTiempoAEN"
     [mejoresPartidas]="mejoresPartidasAEN">
    </app-tiempos>
    <br>
    <app-ratios 
     src="assets/tateti.png"
     [jugadas]="jugadasTTT"
     [victorias]="victoriasTTT"
     [empates]="empatesTTT"
     [derrotas]="derrotasTTT">
    </app-ratios>
    <br>
    <app-tiempos
     src="assets/memotest.png"
     [jugadas]="jugadasMEM"
     [mejorTiempo]="mejorTiempoMEM"
     [mejoresPartidas]="mejoresPartidasMEM">
    </app-tiempos>
    <br>
    <app-puntajes
     src="assets/simon.png"
     [jugadas]="jugadasSIM"
     [mejorPuntaje]="mejorPuntajeSIM"
     [mejoresPartidas]="mejoresPartidasSIM">
    </app-puntajes>
</div>
<br>