<br>
<h1><b>¡Bienvenido!</b></h1>
<p>Esta es la sala de juegos de Alan Passucci.</p>

<div align="center" *ngIf="!logged">
    <mat-card class="form">
        <div *ngIf="formLogin">
            <h2>Iniciar sesión</h2>
            <p>Inicia sesión para poder empezar a jugar.</p>
        </div>
        <div *ngIf="formRegistro">
            <h2>Registrarse</h2>
            <p>Crear una cuenta para poder empezar a jugar.</p>
        </div>
        <mat-form-field class="example-full-width">
            <mat-label>Correo</mat-label>
            <input type="text"
             matInput
             [(ngModel)]="email"
             name="email"
             placeholder="Correo electrónico">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Clave</mat-label>
            <input type="password"
             matInput
             [(ngModel)]="password"
             name="password"
             placeholder="Clave">
        </mat-form-field>
        <br>
        <mat-card class="error" *ngIf="hayError">
            <mat-label>{{mensaje}}</mat-label>
        </mat-card>
        <br>
        <div *ngIf="formLogin">
            <button mat-raised-button color="primary" (click)="login()">Enviar</button>
            <br><br>
            <button mat-raised-button color="primary" (click)="mostrarRegistro()">Crear una cuenta</button>    
        </div>
        <div *ngIf="formRegistro">
            <button mat-raised-button color="primary" (click)="register()">Enviar</button>
            <br><br>
            <button mat-raised-button color="primary" (click)="mostrarLogin()">Ya tengo una cuenta</button>    
        </div>
    </mat-card>
    <br>
</div>
<div align="center">
    <mat-card class="registro" *ngIf="seRegistro">
        <mat-label>{{mensajeRegistro}}</mat-label>
    </mat-card>
    <br>
</div>