<div align="center">
    <br>
    <div style="width: 50%;border: blueviolet 1vw solid;">
        <h1><strong>Acerca de...</strong></h1>
        <br>
        <img src="assets/alumno.png" style="border: blueviolet 5px solid; border-radius: 50%; width: 20vw;">
        <br><br>
        <h3>
            Nombre: Passucci Alan<br>
            Legajo: 108523<br>
            Materia: Laboratorio IV<br>
            División: 4A<br>
        </h3>
    </div>
    <br>
    <div style="width: 80%;border: blueviolet 1vw solid;">
        <h2><strong>Juego propio: Simón</strong></h2>
        <h3>
            Es un juego de memoria clásico que consta de 4 teclas de colores con sonido que irán iluminandose indicandole al usuario la secuencia a reproducir.
            En cada paso se agrega un nuevo color a la serie y el juego se vuelve más complicado.
            Termina una vez que el jugador comete un error al presionar una tecla que difiere de la secuencia original.
            El propósito del juego es reproducir las series más largas de colores generadas aleatoriamente por la IA.
        </h3>
    </div>
    <br>
</div>