<mat-toolbar fxLayout="row">
    <mat-icon>
        <span style="color: blueviolet;">local_fire_department</span>
    </mat-icon>
    <ng-container *ngFor="let item of menuItems">
        <button *ngIf="item.activo" mat-button routerLink="{{item.ruta}}" routerLinkActive="active" fxHide.xs>
            <mat-icon class="mr">{{item.icono}}</mat-icon>
            {{item.texto}}
        </button>
    </ng-container>
    <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.xs>
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu class="mat-menu" #dropMenu="matMenu">
        <ng-container *ngFor="let item of menuItems">
            <button *ngIf="item.activo" mat-menu-item routerLink="{{item.ruta}}" routerLinkActive="active">
                <mat-icon style="color: white;" class="mr">{{item.icono}}</mat-icon>
                {{item.texto}}
            </button>
            <mat-divider></mat-divider>
        </ng-container>
    </mat-menu>
</mat-toolbar>