<table align="center">
    <tr>
        <td><app-carta [srcFrente]="srcFrente"></app-carta></td>
        <td><app-carta [srcFrente]="srcFrente"></app-carta></td>
        <td><app-carta [srcFrente]="srcFrente"></app-carta></td>
        <td><app-carta [srcFrente]="srcFrente"></app-carta></td>
    </tr>
    <tr>
        <td><app-carta [srcFrente]="srcFrente"></app-carta></td>
        <td><app-carta [srcFrente]="srcFrente"></app-carta></td>
        <td><app-carta [srcFrente]="srcFrente"></app-carta></td>
        <td><app-carta [srcFrente]="srcFrente"></app-carta></td>
    </tr>
    <tr>
        <td><app-carta [srcFrente]="srcFrente"></app-carta></td>
        <td><app-carta [srcFrente]="srcFrente"></app-carta></td>
        <td><app-carta [srcFrente]="srcFrente"></app-carta></td>
        <td><app-carta [srcFrente]="srcFrente"></app-carta></td>
    </tr>
</table>

<!-- <mat-grid-list cols="4" rowHeight="14rem">
    <mat-grid-tile>
        <app-carta [srcFrente]="srcFrente"></app-carta>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-carta [srcFrente]="srcFrente"></app-carta>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-carta [srcFrente]="srcFrente"></app-carta>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-carta [srcFrente]="srcFrente"></app-carta>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-carta [srcFrente]="srcFrente"></app-carta>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-carta [srcFrente]="srcFrente"></app-carta>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-carta [srcFrente]="srcFrente"></app-carta>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-carta [srcFrente]="srcFrente"></app-carta>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-carta [srcFrente]="srcFrente"></app-carta>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-carta [srcFrente]="srcFrente"></app-carta>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-carta [srcFrente]="srcFrente"></app-carta>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-carta [srcFrente]="srcFrente"></app-carta>
    </mat-grid-tile>
</mat-grid-list> -->